<style>
  body {
    background-color: #f4f4f8;
  }
  form {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 0 auto;
    padding: 30px;
  }
  .heading {
    background-color: #333;
    width: 100%;
    margin-top: 0px;
    color: #fff;
    padding: 20px;
    font-family: 'Montserrat', sans-serif; /* Added a stylish font for the heading */
    text-align: center; /* Center align the text */
    letter-spacing: 2px; /* Adjust letter spacing for a modern look */
  }
  .field {
    margin-bottom: 20px;
  }
  .login-text {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Optional: Adjust the font weight */
    color: #333; /* Optional: Adjust the text color */
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; /* Use Roboto font for login text */
  }
  .field label {
    font-family: 'Roboto', sans-serif; /* Use Roboto font for labels */
    color: #555; /* Adjust label text color */
    font-size:18px;
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }

  .field input[type="checkbox"] {
    margin-top: 5px; 
    text-align: left;
  }
  
</style>
<h1 class="heading">Subgraph Visualization </h1>
<br> <br> <br> <br> <br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="login-text">Login</div>
<div class="field">
  <%= f.label :email, class: 'col-sm-2 control-label' %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :password, class: 'col-sm-2 control-label' %>
  <%= f.password_field :password, autocomplete: "current-password" %>
</div>

<% if devise_mapping.rememberable? %>
  <div class="col-sm-offset-2 col-sm-10" style="float:left; margin-bottom: 10px">
    <%= f.check_box :remember_me, class: 'form-check-input' %>
    <%= f.label :remember_me, class: 'form-check-label' %>
  </div>
<% end %>

<div class="actions">
  <%= f.submit "Log in" %>
</div>
<% end %>
<br>

<%= render "devise/shared/links" %>
